*{box-sizing: border-box;}
.about-container{display:flex;
        flex-direction:column;
        background:rgb(179, 172, 213);
        /* margin:20px; */
        min-height:100vh;
        width:100%;

}
.about-wrapper{
        display:flex;
        flex-direction:column;
        margin:20px;
        min-height:100vh;
        width:100%;
        border-radius:15px;
}
.about{
    display:flex;
    flex-direction: column;
    align-items: center;
}