*{box-sizing: border-box;}
.about-container{display:flex;
        flex-direction:column;
        background:rgb(179, 172, 213);
        /* margin:20px; */
        min-height:100vh;
        width:100vw;

}
.about-wrapper{
        display:flex;
        flex-direction:column;
        margin:20px;
        min-height:100vh;
        width:100%;
        border-radius:15px;
}
.about{
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width:80vw;
}
.about-header{
        display:flex;
        /* flex-direction:column; */
        align-items:center;
        justify-content: center;
        width:80%;
}
.about-header-wrapper{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
}
.about-body-wrapper{
        display:flex;
        flex-direction: column;
        align-items:center;
}
.form-container{
        display:flex;
        flex-direction: column;
        border-radius: 5px;
        height:auto;
        width:80vw;
        align-items: center;
}
.form-wrapper{
        display: flex;
        flex-direction:column;
        background:rgb(28,38,83);
        margin:20px;
        padding:20px;
        border-radius:5px;
}
.form{
        display:flex;
        flex-direction:column;
        align-items:center;

}
.form-header{
        background:rgb(138, 134, 161);
        border-radius:5px;
        padding:20px;
}
.form-header h2{
   color:#fff;
   
}
.form-header h3{
        color:#fff;
}
.form-body{
        display:flex;
        flex-direction:column;
        /* height:65px; */
        /* width:600px; */
        background:#bfd0dc;
        margin:10px;
        padding:10px;
        border-radius:10px;
}
.form-body-wrapper{
        display:flex;
        flex-direction:column;
        margin:20px;
        padding:20px;

}
.form-body-wrapper label{
        display:flex;
        flex-direction:column;
        /* height:80px; */
         width:400px;
        color:#fff;
        border:none;
}
input{
        border:none;
        height:30px;
}
textarea{
        min-height:40px;
        height:auto;
        
        
}
button{
        display:block;
       flex-direction:column;
       margin:20px;
       padding:10px;
       width:100px;
       height:50px;
       background:#4191cb;
       border-radius:10px;
       border:none;
       align-items: center;
       color:#fff;
}