*{box-sizing: border-box;}
.home-container{
    display:flex;
    flex-direction:column;
    margin:0 50px 0 50px;
    /* min-height:100vh; */
    width:100%;
}
.home-wrapper{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin:50px 20px 20px 20px;
    min-height:100vh;
    width:100%;
    background:rgb(199, 191, 245);
    border-radius:15px;
    overflow: hidden;
    
}
.home img{display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    height:80vh;
    margin:40px;
    width:fit-content;
    border-radius:10px;
   position:relative;

}
.home p{
    position:absolute;
    top:50%;
    left:40%;
    color:#fff;
    font-size:39px;
    font-weight:800;
}
.projects{
    display:flex;
    flex-direction: column;
    margin:50px 30px 30px 30px;
    
}
.projects h3{
    border-bottom: 5px solid rgb(27, 184, 35);
    text-align:center;
}
.cards{
    display:flex;
}
.project-card{
    background:rgb(27, 184, 35);
    width:50vh;
    height:40vh;
    margin:20px;
    display:flex;
    flex-direction:column;
    align-items: center;
    border-radius:8px;

}
.project-card-header h3{
text-align:center;
color:#fff;
}
.card-body{
    display:flex;
    flex-direction:column;

}
.card-body button {
    display:block;
    border:none;
    outline:none;
    padding:8px 10px;
    background-color:rgb(11, 38, 156);
    border-radius:6px;
    color:#fff;
    font-size:18px;

}
.card-body a{
    text-decoration: none;
    color:#fff;
    
}
.card-body button a:hover{
    color: #000;
}
.card-body button:hover{
background:#fff;
color:#000;
}