.container{
    display: flex;
    flex-direction: column;
    width:100%;
    height:80px;
    background:rgb(51, 240, 51);
    position:fixed;
    top:0;
    z-index:10;
}

.navbar{
    display:flex;
    flex-direction:column;

}
.menu{display:flex;
justify-content: space-between;
align-items: center;
width:70%;
margin:0 100px 0 100px;}
.menubars{display:flex;
justify-content: flex-start;

}
.navmenu{
    display:flex;
    justify-content:flex-end;
    align-items: center;
}
.nav-menu-lists{
    display:flex;
    justify-content:center;
    text-align:center;

}
.nav-menu-lists li{
    list-style:none;
    padding:20px;

}
.nav-menu-lists li a{
    border-radius:5px;
    text-decoration:none;
    color:#f5f5f5;
    padding:5px 8px;
   
}
.nav-menu-lists li a:hover{
    background:rgb(45, 182, 86);
}
.menu-icon{color:#f5f5f5;
font-size:25px;}
.nav-menu{
    display: flex;
    justify-content:center;
    background-color: rgb(90, 214, 114);
    width:250px;
    height:100vh;
    position:fixed;
    top:0;
    left:-100%;
    transition:850ms;
}
.nav-menu.active{
   left:0;
    transition:350ms;
    
}
.sidebar-icon{
    display:flex;
    flex-direction: column;
    /* justify-content:center; */
    align-items:center;
    list-style: none;

}
.sidebar-icon .close{
  margin:40px 0 20px 0;
align-content:center;
align-items:center;   
}
.sidebar-lists{
    justify-content: center;
    width:100%;
    margin:10px;
    padding:10px;
    font-size:23px;
}
.sidebar-lists a{text-decoration:none;
color:#f5f5f5;

}
.sidebar-lists span{
    margin-left:20px;
}
.sidebar-lists:hover{
background-color:#164d24;
border-radius:5px;
}
@media only screen  and (min-width:200px) and (max-width: 900px){
    .container{
        display: flex;
    flex-direction: column;
    /* width:100%;
    height:80px; */
    /* background:rgb(51, 240, 51); */
    position:fixed;
    top:0;
    z-index:10;
    }
    .navbar{display:block;
    flex-direction: column;}
    .menu{display:flex;}
     .menubars a{
        display: none;
     }
    .navmenu{
        display:block;
    }

    .nav-menu-lists{
        display: none;
    }
}
@media only screen  and (min-width:900px) and (max-width: 1500px){ 
    .menubars a{
        display:none;
    }
 }