.sidebar-cont{
    display:flex;
    flex-direction:column;
    width:300px;
    height:100vh;
    background:coral;
    position:absolute;
    top:0;
    left:0;
}
.sidewrapper{
    margin-top:60px;
    margin-right:50px;
}
.sidewrapper ul{list-style:none;}
.sidewrapper ul li{font-size:22px;
    padding:15px;
     border-radius: 5px;
    }
.sidewrapper ul li:hover{
    background-color:blue;
    width:100%;
}
@media only screen  and (min-width:200px) and (max-width: 900px){
    
}