*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
.home-container, .project-container, .contact-container, .about-container{
     display:flex;
     flex-direction:column;
     align-items:center;
     margin:90px 0 100px 0;
     padding:0 20px 0 20px;
     min-height:100vh;

}
