*{
    box-sizing:border-box;
    margin:0;
}
.footer-container{
    display:flex;
    flex-direction:column;
    align-items: center;
    background:rgb(176, 164, 241);
    min-height:30vh;
    width:100%;
}
.footer-wrapper{
    display:flex;
    flex-direction:column;
    justify-content:center;
    /* position:relative; */
}
.footer-header{
    display:flex;
    flex-direction:column;
    text-align:center;
    border-bottom:2px #fff solid;
}
.footer{
    display:flex;
    flex-direction:column;
}
.footer-links{
    display:flex;

}
.support{
    margin:10px 40px 0 40px;
    font-weight:bold;
    padding:20px;
    border-right:2px solid #fff;
}
.support ul{list-style:none;}
.support ul a{
    text-decoration:none;
    color:black;}
.support ul a:hover{
    color:coral;
}
.social{
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin-top:30px;
    margin-bottom:30px;
}

.social ul{
    list-style:none;
    display:flex;
    justify-content: center;
    text-align:center;
}
.social ul li{
    margin:0 20px 0 20px;
    font-size:24px;
}

.social ul li a .fb{
    color:rgb(51, 80, 248);  
}
.social ul li a .fb:hover{
    zoom:1.1;
}
.social ul li a .twita{
    color:rgb(37, 37, 184);
}
.social ul li a .twita:hover{
    zoom:1.1;
 }
.social ul li a .linked{
    color:rgb(17, 17, 170);
}
.social ul li a .linked:hover{
    zoom:1.1;
 }
.social ul li a .youtube{
    color:red;
}
.social ul li a .youtube:hover{
    zoom:1.1;
 }
.social ul li a .github{
    color:black;
}
.social ul li a .github:hover{
    zoom:1.1;
 }
.copyright{
    display:flex;
    flex-direction:column;
    text-align:center;}
    /* media queries */
    @media only screen  and (min-width:200px) and (max-width: 900px){
.footber-container{
    width:40vh;
}
 .footer-links{
    display:flex;
    flex-direction:column;
}
.support{
    display:flex;
    flex-direction:column;
}
    }
        
    